.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

.movieContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieContainer > h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 300px;
}